.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  line-height: 1.37;
  color: rgba(18, 20, 23, 0.8);
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.eyeBtn {
  position: absolute;
  right: 18px;
  top: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

.input:focus {
  border-color: #f4c550; 
}

.submitBtn {
  margin-top: 22px;
  width: 100%;
  padding: 16px;
  background-color: #f4c550;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #121417;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitBtn:hover {
  background-color: #ffdc80;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.errorMessage {
  color: #f43f5e;
  font-size: 12px;
  margin-top: 4px;
}

.firebaseError {
  color: #f43f5e;
  font-size: 14px;
  text-align: center;
}